<h1> Lista de compras </h1>

<h2> Productos adquiridos </h2>
 
<ul type>
  <li> Papas
  <li> Sal 
  <li> Azúcar 
  <li> Arroz 
  <li> Café 
  <li> Aceite 
  <li> Avena 
  <li> Fideos 
  <li> Atunes 
  <li> Leche 
  <li> Yogurt 
  <li> Queso 
</ul>

<section> 
 <h2> Productos por comprar </h2> 
 <ol type I> 
 <li> Papel higénico
 <li> Servilletas 
 <li> Jabón 
 <li> Detergente 
 <li> Suavizante 
 <li> Lava 
 <li> Fósforos 
 <li> Cloro 
</ol>
</section>

<section> 
<h2> Productos no encontrados</h2>
<ol> 
    <li> Pintura acrilica
    <li> Tela
    <li> Pasta dental
    <li> Medicamentos, buprex 
    <li> Granola
    <li> Frutos secos
</ol>
</section>