<h1> Lista de compras </h1>

<h2> Productos adquiridos </h2>
 
<ul type>
  <li> Papas</li>
  <li> Sal </li>
  <li> Azúcar </li>
  <li> Arroz </li>
  <li> Café </li>
  <li> Aceite </li>
  <li> Avena </li>
  <li> Fideos </li>
  <li> Atunes </li>
  <li> Leche </li>
  <li> Yogurt </li>
  <li> Queso </li>
</ul>

<section> 
 <h2> Productos por comprar </h2> 
 <ol type I> 
 <li> Papel higénico</li>
 <li> Servilletas </li>
 <li> Jabón </li>
 <li> Detergente </li>
 <li> Suavizante </li>
 <li> Lava </li>
 <li> Fósforos </li>
 <li> Cloro </li>
</ol>
</section>